.wrapper {
    position: relative;
    width: 301px;
    height: 91px;
    background: #FFFFFF;
    border: 1px solid rgba(128, 128, 128, 0.5);
    box-shadow: 0px 0px 5px rgba(14, 80, 164, 0.25);
    border-radius: 10px;
    padding: 16px 21px;
    top: -6px;
}