@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,500&display=swap');

:root {
--default-layout-header-height:68px;
--default-layout-width:1150px;
}

html {

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat';
    font-size: 10px;
    line-height: 1.5;
}